<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="VolunteerTrack helps communities in tracking their volunteer's activities.">
  <meta name="keywords" content="track volunteer hours, tracking volunteers, volunteer time management">
  <title>VolunteerTrack - Edit Activity</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

  <link rel="stylesheet" type="text/css" href="../css/grid.css" />
  <link rel="stylesheet" type="text/css" href="../css/main.css?v=1" />
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
</head>

<body id="userActivityNew" class="loaded">
  <header role="banner">
    <div class="logo">
      VolunteerTrack
    </div>
    <div class="menu">
      <ul>
        <li class="lnkDashboard">
          <a href="/dashboard">Dashboard</a> | </li>
        <li>
          <a href="/logout" class="lnkLogout">Logout</a>
        </li>
      </ul>
    </div>
  </header>
  <main role="main">
    <div class="mainBox">
      <div class="mainInnerBox noTop">
        <h1 class="mainInnerBoxHeader">Modify an Activity</h1>
        <form id="frmEditActivity">
          <fieldset>
            <div class="errorDesc" hidden aria-live="assertive"></div>

            <textarea id="activity" value="" placeholder="Describe Your Volunteer Activity" aria-label="Enter an Activity" class="text-input"
              required></textarea>
            <input id="activityDate" type="date" value="" placeholder="Date of Activity (YYYY-MM-DD)" aria-label="Enter an Activity Date" class="text-input"
              required />
            <input id="activityDuration" type="number" step="0.25" value="" placeholder="Hours of Activity" aria-label="Enter the activity duration in hours"
              class="text-input" required />
            <button class="btnSave btnStandard">Save</button>
          </fieldset>
        </form>
        <div class="lnkBack">
          <a href="/activities" aria-label="Cancel this edit">Cancel this edit</a> |
          <a href="#" aria-label="Delete this activity" class="lnkDelete">Delete this item</a>
        </div>
      </div>
    </div>

  </main>
  <div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section">
      <img src="/images/ajax-loader.gif">
    </div>
  </div>
  <div class="divConfirm">
    <div class="divConfirmContent">
      <div class="divContainer">
        <h3>Are you sure?</h3>
        <button class="btnStandard btnConfirmYes">Yes</button>
        <button class="btnStandard btnConfirmNo">No</button>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>
  <script type="text/javascript" src="js/constants.js"></script>
  <script type="text/javascript" src="js/common.js"></script>
  <script type="text/javascript" src="js/auth.js"></script>
  <script type="text/javascript" src="js/activity_edit.js?v=1"></script>
</body>

</html>