<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="VolunteerTrack helps communities in tracking their volunteer's activities.">
  <meta name="keywords" content="track volunteer hours, tracking volunteers, volunteer time management">
  <title>VolunteerTrack - Activities</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

  <link rel="stylesheet" type="text/css" href="../css/grid.css" />
  <link rel="stylesheet" type="text/css" href="../css/main.css?v=1" />
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
</head>

<body id="userActivities" class="solidBackground">
  <header role="banner">
    <div class="logo">
      VolunteerTrack
    </div>
    <div class="menu">
      <ul>
        <li class="lnkDashboard">
          <a href="/dashboard">Dashboard</a> | </li>
        <li>
          <a href="/logout" class="lnkLogout">Logout</a>
        </li>
      </ul>
    </div>
  </header>
  <main role="main">
      <h1 class="mainInnerBoxHeader">Activity Log</h1>
        
    <div class="mainBox backgroundInverse">
        
      <div class="mainInnerBox noTop">
        
        <div class="js-results">No activities yet...
        </div>
        </form>
      </div>
    </div>

  </main>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>
  <script type="text/javascript" src="js/constants.js"></script>
  <script type="text/javascript" src="js/common.js"></script>
  <script type="text/javascript" src="js/auth.js"></script>
  <script type="text/javascript" src="js/activities.js?v=1"></script>
</body>

</html>