<!doctype html>
<html>
<head>
  <title>Spotify OAuth</title>
</head>

<body>
  <script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>
  <script src="/js/constants.js"></script>
  <script src="/js/callback.js"></script>
</body>

</html>