<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="VolunteerTrack helps communities in tracking their volunteer's activities.">
  <meta name="keywords" content="track volunteer hours, tracking volunteers, volunteer time management">
  <title>VolunteerTrack - Dashboard</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

  <link rel="stylesheet" type="text/css" href="../css/grid.css" />
  <link rel="stylesheet" type="text/css" href="../css/main.css?v=1" />
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
</head>

<body>
  <header role="banner">
    <div class="logo">
      VolunteerTrack
    </div>
    <div class="menu">
      <ul>
        <li>
          <a href="#" class="lnkLogout">Logout</a></li>
      </ul>
    </div>
  </header>
  <main role="main">
    <div class="mainBox">
      <div class="mainInnerBox noTop">
        <h1 class="mainInnerBoxHeader">Dashboard</h1>
          <form id="frmDashboard">
          <fieldset>
              <a class="btnStandard viewActivities" href="/activities"><i class="fa fa-calendar-check-o"></i>View Your Activities</a>
              <br>
              <a class="btnStandard newActivity" href="/activity_new"><i class="fa fa-pencil"></i>Log an Activity</a>
          </fieldset>
          <fieldset class="fldAdmin" hidden>
            <a class="btnStandard btnAdmin viewActivitiesAdmin" href="/all_activities"><i class="fa fa-users"></i>View All User Activities</a>
            
        </fieldset>
        </form>
      </div>
    </div>

  </main>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>
  <script type="text/javascript" src="js/constants.js"></script>
  <script type="text/javascript" src="js/common.js"></script>
  <script type="text/javascript" src="js/auth.js"></script>
  <script type="text/javascript" src="js/dashboard.js?v=1"></script>
</body>

</html>