<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="VolunteerTrack helps communities in tracking their volunteer's activities.">
  <meta name="keywords" content="track volunteer hours, tracking volunteers, volunteer time management">
  <title>VolunteerTrack - Register</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

  <link rel="stylesheet" type="text/css" href="../css/grid.css" />
  <link rel="stylesheet" type="text/css" href="../css/main.css?v=1" />
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
</head>

<body class="loaded">
  <header role="banner">
    <div class="logo">
      VolunteerTrack
    </div>

  </header>
  <main role="main">
    <div class="mainBox">
      <div class="mainInnerBox noTop">
        <h1 class="mainInnerBoxHeader">Create Your Account</h1>
        <form id="frmSignUp">
          <fieldset>
            <div class="errorDesc" hidden aria-live="assertive"></div>
            <div class="divFirstName">
              <input id="firstName" value="" placeholder="First Name" aria-label="Enter your First Name" class="text-input" required />
            </div>
            <div class="divSpacer">&nbsp;</div>
            <div class="divLastName">
              <input id="lastName" value="" placeholder="Last Name" aria-label="Enter your Last Name" class="text-input" required />
            </div>
            <input id="email" value="" placeholder="Email Address" aria-label="Enter your Email Address" class="text-input" required
            />
            <input id="username" value="" placeholder="Username" aria-label="Enter a Username" class="text-input" required />
            <input id="password" type="password" value="" placeholder="Password" aria-label="Enter a Password" class="text-input" required
            />
            <button class="btnRegister btnStandard">Register</button>
          </fieldset>
        </form>
        <div class="lnkBack">
          <a href="/login" aria-label="Click to sign in">Already have an account?</a>
        </div>
      </div>
    </div>

  </main>
  <div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section">
      <img src="/images/ajax-loader.gif">
    </div>
  </div>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>
  <script type="text/javascript" src="js/constants.js"></script>
  <script type="text/javascript" src="js/common.js?v=1"></script>
  <script type="text/javascript" src="js/register.js?v=1"></script>
</body>

</html>