 * { box-sizing:border-box; }
/* 
blue - #2862b7
lt blue - #2b71b1
green - #00c57f
*/
html {
    height:100%;
    width:100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Helvetica Neue','Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', sans-serif; 
}
header {
    height:60px;
    max-width: 1180px;
    /* padding: 20px 0 0 20px; */
    font-weight: normal;
    margin:0 auto;
    text-align: center;
}
header a,header a:hover, header a:visited{
    color:white;
    text-decoration: none;
    font-weight: normal;
}
header a:hover{
    text-decoration: underline;
}
.logo {
    font-size: 16px;
    color:white;
    float:left;
    padding:20px 10px;
}
.menu {
    width:50%;
    float:right;
    padding: 20px 10px;
}
.menu ul {
    float:right;
    padding:0;
    margin:0;
}
.menu li {
    float:left;
    list-style-type: none;
    padding-left:5px;
}
/* main {
    width:100%;
    height: 100%;
} */
body {
 color:white;
 background:  #2862b7;
 background:linear-gradient(180deg,#0f62bd 24%,#0a407a 168%);
}
body.solidBackground {
    background:  #2862b7 !important
}
body::after {
    content: "";
  }
.mainBox {
    padding:20px;
    margin: 0 auto;
    max-width: 1180px;
}
.mainBox.backgroundInverse {
    color:#2862b7;
    background:  #fff;  
    max-width: 700px;
}
.mainInnerBox {
    padding-top:40px;
    margin: 0 auto;
    width:480px;
    text-align: center;
}
.mainInnerBox.noTop{
    padding-top:0px;
}
.mainInnerBoxHeader {
    font-weight: normal;
    font-size: 36px;
    margin: 0 auto;
    text-align: center;
    margin:.67em 0;
}
.mainInnerBoxSubtitle {
    line-height: 1.6;
    text-align: center;
    font-weight: 300;
}
#frmQuickStart {
    width:90%;
    text-align: center;
    margin: 0 auto;
}

fieldset {
    margin:0 auto;
    border: none;
    text-align:center;
}
fieldset input,fieldset textarea,fieldset button,fieldset a {
    border: solid 1px #dcdcdc;
    height:auto;
    width:100%;
    padding:15px;
    display: block;
    text-align: left;
    margin: 0 auto;
    border-radius: 3px;
    background: #fcfcfc;
    margin: 10px auto 10px ;
    transition: opacity 0.4s;
}

a, a:visited {
    text-decoration: none;
    color:white;
    cursor: pointer;
}
a:hover {
    text-decoration: underline;
}
.lnkDelete {
    color:#DA5B59;
}
.btnStandard {
    background: #00c57f;
    border-color: #00c57f;
    border-radius: 4px;
    color:white;
    text-align: center;
}
/* BEGIN Register */

/* BEGIN - NAME SPACING */
.divFirstName,.divLastName {
    width:48%;
    float:left;
}
.divSpacer {
    float:left;
    width:4%;
}
/*END - NAME SPACING */

#frmSignUp {
    background: white;
    padding:10px;
}
.btnRegister {
    margin-top:15px;
}
.lnkBack {
    margin-top:15px;
}
/* END Register */

/* BEGIN - List View   */
.js-results a {
    text-decoration: none;
    color: #2862b7;
}
.js-panel-list-wrapper {
    clear:left;
    display:block;
    width:100%;
    min-height: 50px;
    text-align: left;
    border-bottom:solid 1px #dcdcdc;
    padding:15px 10px;
}
.js-panel-list-wrapper:hover {
    background: #2862b7;
    color:white;
    cursor: pointer;
}

.eventDate,.eventHours {
    float:left;
    margin-top:5px;
    margin-bottom:5px;
    font-weight: bold;
}
.eventName {
    display:block;
    clear:left;
}
.eventNameSpacer {
    width:20px;
    float:left;
}
.editButton {
    float:right;
    position: relative;
    right: 0;
    top:15px;
    display:none;
}
.js-panel-list-wrapper:hover .editButton {
    display:block;
}
/* END   - List View */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.loaded #loader-wrapper {
    visibility: hidden;
}
#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: #2862b7;
    z-index: 1000;
}
#loader {
    z-index: 1001; /* anything higher than z-index: 1000 of .loader-section */
}
.loader-section img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:100px;
}


.errorDesc,.liError {
    margin: 5px 0;
    padding: 15px 5px;
    border-radius: 4px;
    color: #DA5B59;
    background-color: #f2dede;
    font-size:16px;
}

.footer {
    color:#000;
    position: fixed;
    left:0;
    bottom:10px;
    width: 100%;
    text-align: center;
    font-size: 13px;
}
/* DESKTOP */
@media only screen and (min-width: 768px) {
   .mainInnerBox {
       width: 480px;
   }
   #userActivities .mainInnerBox {
       width: 660px;
   }
}
/* ipad pro portrait */
@media only screen and (max-width: 1024px) and ( orientation: portrait) { 
  
}
/* ipad portrait */
@media only screen and (max-width: 768px) and ( orientation: portrait) { 
    
}
/* ipad landscape */
@media only screen and (max-height: 768px) and ( orientation: landscape) { 
    

}
/*iPhone 6/7/8 and Samsung S5 */
@media only screen and (max-width: 640px) {
    .mainInnerBox {
        width:100%;
    }
    #frmQuickStart {
        width:100%;
    }
}
@media only screen and (max-width: 667px) and (orientation: landscape) {
  
}
/*iPhone 5 and smaller format devices*/
@media only screen and (max-width: 568px) and ( orientation: portrait) {
    .mainBox {
        padding:0px;
    }
    .js-results {
        padding:10px;
    }
    .js-panel-list-wrapper:hover .editButton {
        display:none;
    }
}
/*phone landscape*/
@media only screen and (max-height: 420px) and ( orientation: landscape) {
   
}
/*Navigation iPhone 5 and smaller format devices*/
@media only screen and (max-width: 350px) and ( orientation: portrait) {
    .lnkDashboard {
        display:none;
    }
}


